header{
  height: 100px;
  background: #ad42f4;
  display: flex;
  align-items: center;
}

header img{
  height: 80%;
}

header p{
  font-size: 50px;
  font-style: monospace;
  color: whitesmoke;
  margin-left: 60px;
}

.meme-form{
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #ccc6d1;
  margin: 20px auto;
}

.meme-form input{
  margin-top: 20px;
  margin-top: 15px;
}

.meme-form input[type=text]{
  width: 45%;
  height: 40px;
}

.meme-form input[type=button]{
  border: none;
  height: 50px;
  font-size: 25px;
  background:#ad42f4;
  color: whitesmoke;
}

.meme{
  position: relative;
  width: 90%;
  height: 420px;
  margin: auto;
  overflow: hidden;
}

.meme img{
  width: 100%;
  height: 100%;
}

.meme h2{
  position: absolute;
  width: 80%;
  transform: translateX(-50%);
  left: 50%;
  margin: 15px 0;
  padding: 0 5px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow:
  2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0 2px 0 #000,
  2px 0 0 #000,
  0 -2px 0 #000,
  -2px 0 0 #000,
  2px 2px 5px #000;
}

.meme .bottom{
  bottom: 0;
}

.meme .top{
  top: 0;
}
